<HTML>

<head>
  <title>
    User Study
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 class="mt-5">{{ title }}</h1>
        <div class="row">
          <div class="col-lg-8">
            <p class="lead">As part of PM's efforts to eradicate the practice, the council has introduced mascots to
              direct offenders to the nearest toilet.</p>
            <p class="lead">
              People who attempt to urinate or defecate in public in Delhi's wealthier neighbourhoods may soon find
              themselves loudly interrupted. The city's municipal council has announced that 28 turbaned, brightly
              coloured mascots will be deployed
              across the Lutyens Delhi area to watch for people relieving themselves around railway tracks or slum
              areas.

            </p>
            <p class="lead">
              If the "Swachh Sewaks" (clean attendants) come across any offenders, they will blow a whistle and direct
              them to the nearest public toilet.
            </p>
          </div>
          <div class="col-lg-4">
            <img src="https://picsum.photos/260/325" />
          </div>
        </div>

        <p class="lead">
          The practice, stubbornly ingrained in India's rural culture in particular, is the main factor in the country's
          high rate of diarrhoea-related deaths among children aged five and under. About 188,000 die each year from
          conditions linked to frequent bouts of diarrhoea, which weakens their immune systems and makes them more
          vulnerable to malnutrition and diseases such as polio or pneumonia.
        </p>
        <p class="lead">
          Public defecation also contributes to crimes against women, who, for reasons of modesty, will usually venture
          out to relieve themselves early in the morning or late at night - making them more vulnerable to attackers.
          Police in Bihar said two years ago that about 400 rape cases in the state might have been prevented if the
          women had had toilets in their homes.
        </p>
        <p class="lead">
          Poverty or lack of access to toilets are not the only factors: research has shown that many Indian villagers
          believe public defecating is healthier, and continue the practice even after a toilet is built in their area.
        </p>
        <p class="lead">
          Modi announced in September that his "Swachh Bharat" (clean India) programme has built more than 25m toilets
          across the country. Delhi council has built 270 public toilets in the city as part of the drive.
        </p>
        <p class="lead">
          Billboards were placed around the country in September that tried to shame upwardly mobile Indians into using
          toilets. A commercial featured a child pointing and laughing, telling an adult: "Uncle, you wear a tie around
          your neck, shoes on your feet, but you still defecate in the open. What kind of progress is this?"
        </p>
        <p class="lead">
          A spokesman for New Delhi municipal council told an Indian news outlet that research had shown that the Swachh
          Sewaks might be even more persuasive. "We observed that people listen when being educated about an issue by
          another person," he said. "There is a human connect that fines and billboard notifications cannot achieve."
        </p>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <br />
    <a href="{{ url_for('control') }}">
      <button type="button" class="btn btn-primary">Continue</button>
    </a>
  </div>

</body>

</HTML>