<HTML>

<head>
  <title>
    User Study
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 class="mt-5">{{ title }}</h1>
        <div class="row">
          <div class="col-lg-8">
            <p class="lead">
              The running joke among Indian entrepreneurs is that it's easier to get a divorce than to shut down a
              company. And the experience of Stayzilla co-founders Yogendra Vasupal and Sachit Singhi shows that it can
              get extremely messy.
            </p>
            <p class="lead">Closing a company in India can take years, though opening one - or many - is easy enough.
            </p>
            <p class="lead">
              When Thirukumaran Nagarajan decided to close his edtech startup Eduraft in 2013, a year after setting it
              up, he simply ceased operations, returned investor money, and moved on.
            </p>
          </div>
          <div class="col-lg-4">
            <img src="https://picsum.photos/260/325" />
          </div>
        </div>

        <p class="lead">
          Two years later, the auditors at his current venture NinjaCart \u2014his third attempt, and an agri-marketing
          platform that's managed to raise funding \u2014 advised him to formally close Eduraft.
        </p>
        <p class="lead">
          It's been four years since he decided to take them up on that advice but he's still trying to wind up the
          business. "Since we didn't have any creditors and had returned our investor money, we thought we were good to
          go.
        </p>
        <p class="lead">
          Later, we found out that it is not as simple as that. Regulatory compliance requires a procedure to be
          followed while returning money. Not shutting an earlier venture can create roadblocks for the current venture.
          We are now getting ready to file the winding-up petition," says Nagarajan.
        </p>
        <p class="lead">
          While being an entrepreneur seems exciting and fail-fast is the new refrain, India's archaic laws and
          labyrinthine processes of liquidation make dealing with shutting down a startup far harder than handling the
          emotional struggle of giving up.
        </p>
        <p class="lead">
          And dealing with external stakeholders such as vendors and landlords - as in the case of Stayzilla - can
          complicate matters further." Closing a company under a liquidation process can take years.
        </p>
        <p class="lead">
          Abandoning a business is not the solution. Defaults in company law compliance and inherent shareholder
          obligations will lead to a black mark in the RoC's (Registrar of Companies') records," said Harshal Kamdar,
          partner, PwC.
        </p>
        <p class="lead">
          Kamdar says there are quicker ways of winding up. If an asset sale is undertaken, one can kill business in a
          week or two. If one can demonstrate that the company has no assets and operations for two years, the process
          can be faster.
        </p>
        <p class="lead">
          The Insolvency and Bankruptcy Code, which is being finalised, is expected to ease some of the pain involved in
          the liquidation process." The current regulations are drafted with a large company mindset. So whether it is a
          big corporate, for example Kingfisher Airlines, or a small startup, the procedure is broadly the same," said
          Kamdar. For consumer businesses, the process is particularly tedious.
        </p>
        <p class="lead">
          "The legal processes make it impractical for a retail business to shut shop. For example, the company is
          expected to obtain a no-objection certificate from all its vendors. That's a hard thing to get," said K
          Vaitheeswaran, entrepreneur and e-commerce pioneer.
        </p>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <br />
    <a href="{{ url_for('train') }}">
      <button type="button" class="btn btn-primary">Continue</button>
    </a>
  </div>

</body>

</HTML>