<HTML>

<head>
  <title>
    User Study
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 class="mt-5">{{ title }}</h1>
        <div class="row">
          <div class="col-lg-8">
            <p class="lead">New Delhi (CNN)India's only live volcano is active again, say Indian scientists who
              witnessed the mountain spewing lava and billowing clouds of black smoke.</p>
            <p class="lead">
              The Barren Island volcano, on a remote uninhabited island off the country's eastern coast, had been lying
              dormant for more than 150 years until it saw a major eruption in 1991. Since then it has shown
              intermittent activity, including eruptions in 1995 and 2005.
            </p>
            <p class="lead">
              Over four hours of observation January 26, the scientists saw ash clouds during the daytime and fountains
              of red lava spewing from the volcano's mouth and streaming down its slopes after sundown, said India's
              National Institute of Oceanography (NIO) in a statement Monday.
            </p>
          </div>
          <div class="col-lg-4">
            <img src="https://picsum.photos/260/325" />
          </div>
        </div>

        <p class="lead">
          The volcano erupted in bursts of cloud and smoke lasting about five to 10 minutes.
          "It was a small eruption compared to the last major eruptions in 1991 and 1995," Dr. Abhay Mudholkar, chief
          scientist at the Goa-based NIO, told CNN.

        </p>
        <p class="lead">
          Mudholkar said their team was about one nautical mile from the island. They did not land on it as it was
          considered too dangerous.
        </p>
        <p class="lead">
          The team took samples of sediments and water in the vicinity of the volcano and recovered coal-like black
          pyroclastic material, the NIO said in a statement.
        </p>
        </p>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <br />
    <a href="{{ url_for('control') }}">
      <button type="button" class="btn btn-primary">Continue</button>
    </a>
  </div>

</body>

</HTML>